h2.painting-banner {
    color: #3d2412;
    font-size: 160%;
    font-weight: 500
}

.tips {
    color: #c97c17;
    font-size: 100%;
    font-weight: 400
}

span.painting-desc {
    color: #8b4513;
    font-size: 120%;
    font-weight: 450
}